body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 2% 3%;
}

body.light{
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 44%);
}

body.dark{
    background-color:hsl(230, 17%, 14%);
    color: hsl(228, 34%, 66%);
}

header{
    display: flex;
    flex-direction: column;
    padding: 1% 0.5%;
}

header div.title{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header span.title{
    font-size: 20px;
    font-weight: bold;
}
header span.title.light{
    color: hsl(230, 17%, 14%);
}
header span.title.dark{
    color: hsl(0, 0%, 100%);
}

span.total-followers{
    font-weight: bold;
    margin-top: 4px;
    font-size: 12px;
}

.separator-header{
    margin-top: 20px;
    border-top: 0.5px solid hsl(228, 12%, 44%);
    width: 100%;
}

.type{
    margin-top: 10px;
    padding: 1% 0;
    display: flex;
    align-items: center;
}

.text-mode{
    width: 100%;
    font-weight: bold;
    font-size: 12px;
}

.button-mode{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.button-mode input{
    opacity: 0;
    width: 0;
    height: 0;
}

.button-mode .button-switch{
    margin-top: 3px;
    width: 50px;
    max-height: 25px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.button-mode .button-switch:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    right: 5px;
    bottom: 2.75px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#checkbox:checked + .button-switch {
    background-image: linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

#checkbox:checked + .button-switch:before {
    -webkit-transform: translateX(-21px);
    -ms-transform: translateX(-21px);
    transform: translateX(-21px);
    background-color: hsl(230, 17%, 14%);
}

.social-media {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1%;
    padding: 2% 0;
}

.panel{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 4px;
}
.facebook {
    background-color: hsl(195, 100%, 50%);
}
.twitter {
    background-color: hsl(203, 89%, 53%);
}
.instagram {
    background: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
}
.youtube {
    background-color: hsl(348, 97%, 39%);
}

.social-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    position: relative;
}

.social-block.light{
    background-color: hsl(227, 47%, 96%);
}
.social-block.dark{
    background-color: hsl(228, 28%, 20%);
}


span.nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}
.icon-media{
    min-height: 20px;
    margin-right: 7px;
}
span.number-followers{
    margin-top: 10px;
    font-weight: 700;
    font-size: 50px;
}
span.number-followers.light{
    color: hsl(230, 17%, 14%);
}
span.number-followers.dark{
    color: hsl(0, 0%, 100%);
}


span.number-type{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
}
span.trading{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
}

span.up{
    color:hsl(163, 72%, 41%);
}
span.down{
    color: hsl(356, 69%, 56%);
}

.title-resume{
    font-weight: bold;
    margin-bottom: 25px;
}

.panel-resume{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.card-resume{
    padding: 4%;
    border-radius: 6px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.card-resume.light{
    background-color: hsl(227, 47%, 96%);
}
.card-resume.dark{
    background-color: hsl(228, 28%, 20%);
}

span.title-card{
    font-size: 14px;
    font-weight: bold;
}

span.number-card{
    font-weight: bold;
    font-size: 36px;
}
span.number-card.light{
    color: hsl(230, 17%, 14%);
}
span.number-card.dark{
    color: hsl(0, 0%, 100%);
}

span.percentage-card{
    font-size: small;
    display: flex;
    justify-content: right;
    align-items: center;
}

span.icon-card{
    display: flex;
    justify-content: right;
    align-items: center;
}

footer .attributiion{
    width: 100%;
    padding-top: 2%;
}

@media(min-width:400px){
    body{
        padding: 2% 7%;
        padding-bottom: 0;
    }

    .social-media{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .panel-resume{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .separator-header{
        display: none;
    }

    header{
        flex-direction: row;
    }

    header div.title{
        width: 80%;
    }

    header span.title{
        font-size: 30px;
    }

    .type{
        margin-top: 0;
        width: 20%;
        align-items: center;
        justify-content: end;
        text-align: end;
    }
    .text-mode{
        padding-right: 4%;
        font-size: 15px;
    }
    .button-mode .button-switch{
        width: 60px;
        max-height: 30px;
    }
    .button-mode .button-switch:before {
        height: 25px;
        width: 25px;
        right: 5px;
        bottom: 2.55px;
    }
    #checkbox:checked + .button-switch:before {
        -webkit-transform: translateX(-26px);
        -ms-transform: translateX(-26px);
        transform: translateX(-26px);
    }
}