body ,html{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body.light{
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 44%);
}

header{
    display: flex;
    flex-direction: column;
}

header div.title{
    width: 70%;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2%;
    padding: 2%;
}

.panel{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 4px;
}
.facebook {
    background-color: hsl(195, 100%, 50%);
}
.twitter {
    background-color: hsl(203, 89%, 53%);
}
.instagram {
    background: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
}
.youtube {
    background-color: hsl(348, 97%, 39%);
}

.social-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    position: relative;
}

.social-block.light{
    background-color: hsl(227, 47%, 96%);
}

span.nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}
.icon-media{
    min-height: 20px;
    margin-right: 7px;
}
span.number-followers{
    color: hsl(230, 17%, 14%);
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
}
span.number-type{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}
span.trading{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    align-items: flex-end;
}
span.trading.up{
    color:hsl(163, 72%, 41%);
}
span.trading.down{
    color: hsl(356, 69%, 56%);
}



@media(min-width:400px){
    .social-media{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}